
.container-fluid {
    /* background-color: #4D346F; */

    
}

.colorFila1 .col{
    background-color: aqua;
}

.colorFila2 .col{
    background-color: #4D346F;
}

.colorFila4 .col{
    background-color: pink;
}



